[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
ipython = "*"

[packages]
psycopg2 = "*"
sqlalchemy = "*"
fastapi = "*"
uvicorn = "*"

[requires]
python_version = "3.8"
