[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flask-shell-ipython = "*"
ipython = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
sqlalchemy = "*"

[requires]
python_version = "3.8"
